* {
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

article {
    display: flex;
    /* max-height: 630px; */
    /* width: 100%; */
    height: 100%;
    flex-direction: row;
    margin: 10px;
    max-height: 96vh;
    align-items: stretch;
    justify-content: center;
}

.user_list,
.chats {
    background-color: var(--main-box-color);
    /* -webkit-backdrop-filter: blur(10 px) !important;
    -moz-backdrop-filter: blur(10px) !important;
    backdrop-filter: blur(10px) !important; */
    -webkit-backdrop-filter: var(--backdrop-filter) !important;
    backdrop-filter: var(--backdrop-filter) !important;
    box-shadow: var(--main-box-shadow);

    border-radius: 20px;
    position: relative;
}

.user_list {
    /* width: 390px; */
    max-width: 40vw;
    min-width: 21rem;
    max-width: 26.5rem;
    margin: 0 10px;
    flex-wrap: wrap;
    overflow: hidden;
    scroll-behavior: smooth;
}

.seach>input {
    border: var(--main-text) solid 1px;
    outline: none;
    background: none;
    cursor: pointer;
    border-radius: 20px;
    padding: 10px;
    max-width: 100%;
    width: 302px;
    color: var(--main-text);
    font-size: medium;
}

.scanuser_box {
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: space-around;
}

.scrollbox {
    justify-content: center;
    align-items: center;
    /* margin: 10px 10px 0 0; */
    overflow-y: auto;
    scroll-behavior: smooth;
    /* max-height: 76vh; */
    height: 100%;
    /* border: var(--border); */
    margin: 5px;
    border-radius: 20px;
    /* background: var(--main-bg); */
}

.user_box:hover {
    background: var(--header_box_c);
    border-radius: 20px;
    /* opacity: 0.6; */
    border: none;
}

.scrollbox>.active {
    background: var(--header_box_c);
    border-radius: 20px;
    opacity: 1;
    border: none;
}

.user_box:focus {
    background: var(--header_box_c);
    border-radius: 20px;
    opacity: 1;
    border: none;
}

.scrollbox>.user_box:target {
    background: var(--header_box_c);
    border-radius: 20px;
    opacity: 1;
    border: none;
}


/* .scrollbox1 {
    max-height: 550px;
} */

.chats {
    margin: 0px 10px 0 0px;
    min-width: 61%;
    max-width: 40%;
    height: 100%;
    transition: 0.5s;
    /* background-image: url(../img/bg.png); */
}

.user_box {
    display: flex;
    margin: 10px 0;
    padding: 10px;
    cursor: pointer;
    border-bottom: 0.5px var(--main-text) solid;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
}

.haeder_search_bar {
    background-color: var(--main-box-color);
    border-radius: 20px 20px 0 0;
    height: 4.4rem;
    display: flex;
    justify-content: center;
    display: none;
}

#header {
    visibility: collapse;
    background-color: var(--main-box-color);
    border-radius: 20px 20px 0 0;
}

#user_chats {
    visibility: collapse;
    margin-inline: auto;
}

.img_user {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    object-fit: cover;
    border-radius: 50%;
    overflow: hidden;
}

.user_name_chats {
    width: min(60%);
    margin-right: 20px;
}

.chart_name {
    font-weight: bolder;
}

.chats_shot {
    margin-top: 5px;
    font-size: small;
}

.time_no {
    /* width: min(15%); */
    align-items: flex-end;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.time_no>.time {
    font-size: small;
}

.notification_no {
    float: right;
    margin-top: 10px;
    background-color: red;
    width: 18px;
    height: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 10px;
}

.chats {
    display: flex;
    flex-wrap: wrap;
    right: 0%;
    align-items: stretch;
    max-width: 40rem;
    min-width: 40rem;
}

.chat_time {
    font-size: 10px;
    color: var(--btn-t);
    margin: 15px;
}

.chats>header {
    width: 100%;
    display: flex;
    height: 70px;
    margin: 0;
    /* border-bottom: 1px solid var(--main-text); */
    /* border-radius: 20px 20px 10px 10px; */
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.user_chats_img {
    width: 60px;
    height: 55px;
    border-radius: 50%;
    overflow: hidden;
    margin: 5px 20px;
}

.user_chat_name {
    width: min(80%);
}

.more_info {
    margin-right: 20px;
}

.user_chats {
    /* width: 600px; */
    min-width: 95%;
    /* height: -webkit-fill-available; */
    /* max-height: 550px; */
    height: 90%;
    display: flex;
    flex-direction: column;
}

.left_chat,
.right_chats {
    margin: 10px 30px;
    border: var(--border);
}

.left_chat {
    /* background-color: aqua; */
    text-align: left;
}

.right_chats {
    text-align: right;
    /* background-color: rgb(30, 161, 65); */
}

.send_chats {
    height: 50px;
    margin: 5px 20px;
    display: flex;
    /* border: var(--border); */
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
}


/* chats */

.send_box {
    border: none;
    outline: none;
    background: var(--color);
    width: 90%;
    margin: 0 5px;
    /* margin: 4px 10px 0 20px; */
    padding: 10px 21px;
    border-radius: 20px;
    color: var(--main-text);
}

.send_btn {
    border: none;
    outline: none;
    margin: 0;
    background: var(--color);
    padding: 10px 21px;
    border-radius: 20px;
    color: var(--main-text);
    cursor: pointer;
}


/* .chats */

.chat-box {
    position: relative;
    height: 100%;
    overflow-y: scroll;
    padding: 10px 10px
        /* background: var(--header_box_c);
    box-shadow: inset 0 32px 32px -32px rgb(0 0 0 / 5%), inset 0 -32px 32px -32px rgb(0 0 0 / 5%); */
}

.chat-box .text {
    position: absolute;
    top: 45%;
    left: 50%;
    width: calc(100% - 50px);
    text-align: center;
    transform: translate(-50%, -50%);
}

.chat-box .chat {
    margin: 15px 0;
}

.chat-box .chat p {
    word-wrap: break-word;
    padding: 8px 16px;
    box-shadow: 0 0 32px rgb(0 0 0 / 8%), 0rem 16px 16px -16px rgb(0 0 0 / 10%);
}

.chat-box .outgoing {
    display: flex;
}

.chat-box .outgoing .details {
    margin-left: auto;
    max-width: calc(100% - 130px);
}

.outgoing .details p {
    background: var(--color);
    color: var(--main-text);
    border-radius: 18px 18px 0 18px;
}

.chat-box .incoming {
    display: flex;
    align-items: flex-end;
}

.chat-box .incoming img {
    height: 35px;
    width: 35px;
}

.chat-box .incoming .details {
    margin-right: auto;
    margin-left: 10px;
    max-width: calc(100% - 130px);
}

.incoming_img {
    border-radius: 50%;
}

.incoming .details p {
    background: var(--color);
    color: var(--main-text);
    border-radius: 18px 18px 18px 0;
}

.typing-area {
    padding: 18px 30px;
    display: flex;
    justify-content: space-between;
}

.typing-area input {
    height: 45px;
    width: calc(100% - 58px);
    font-size: 16px;
    padding: 0 13px;
    border: 1px solid #e6e6e6;
    outline: none;
    border-radius: 5px 0 0 5px;
}

.typing-area button {
    color: #fff;
    width: 55px;
    border: none;
    outline: none;
    background: #333;
    font-size: 19px;
    cursor: pointer;
    opacity: 0.7;
    pointer-events: none;
    border-radius: 0 5px 5px 0;
    transition: all 0.3s ease;
}

.typing-area button.active {
    opacity: 1;
    pointer-events: auto;
}

.back {
    visibility: collapse;
    margin-left: 10px;
    display: flex;
}

.name_user {
    font-weight: bolder;
}

.no_friend {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}







@media (max-width:700px) {

    .user_chats_img {
        width: 5rem;
    }

    html,
    body {
        max-width: 100%;
        overflow-x: hidden;
    }

    .container {
        /* max-height: 314px; */
    }

    article {
        display: contents;
        margin: 10px;
    }

    .scrollbox {
        margin: 7px;
        z-index: 1;
    }

    .chats {
        width: 100%;
        min-width: 100%;
        max-width: 100%;
        height: 100vh;
        transition: 0.5s;
        margin: 0;
        position: absolute;
        top: 0;
        right: -102%;
        border-radius: 0;
        z-index: 1000;
    }

    .user_chats {
        height: 90%;
    }

    .chat-box {
        height: 70%;
    }

    .user_list {
        width: 100%;
        flex-wrap: wrap;
        overflow: hidden;
        scroll-behavior: smooth;
        margin: 0;
        height: min(567px);
        border-radius: 30px;
        height: 70%;
    }

    .user_name_chats {
        min-width: 50%;
        margin-right: 20px;
    }

    .scrollbox {
        max-height: 76vh;
    }

    .back {
        visibility: visible;
    }

}